# Supabase
SUPABASE_URL=https://lplcoapxvsqybdbcbgpu.supabase.co
SUPABASE_SERVICE_KEY=sb_secret_xxx
SUPABASE_PUBLISHABLE_KEY=sb_publishable_xxx

# App
PORT=3000
NODE_ENV=production
LANDING_BASE_URL=https://cartaodetodos.companygenesis.com.br
AUTH_COOKIE_MAX_AGE_SECONDS=28800
AUTH_COOKIE_SECURE=true

# GHL
GHL_API_BASE_URL=https://services.leadconnectorhq.com
GHL_API_TOKEN=pit_xxx
GHL_API_VERSION=2021-04-15
GHL_LOCATION_ID=aj3gIzF3LkjDml8i9k6e
GHL_PIPELINE_ID=OtRnvqvykxy1dKiJcuKS
GHL_STAGE_ID_INITIAL=d9b228db-0206-4480-a841-4fc3fbde46c8
GHL_FIELD_ID_INDICATOR_CODE=8UgTjSbjJDn8z7iJqOz7
GHL_FIELD_ID_INDICATOR_NAME=mODVu3L8mo4CXadSaBzA
GHL_TAGS_DEFAULT=Programa de Indicação
GHL_INITIAL_MESSAGE_TEMPLATE=Olá, {{nome_indicado}}. Tudo bem? Recebemos a sua indicação pelo {{nome_indicador}}.
GHL_WEBHOOK_SECRET=defina-um-segredo-forte
